:root {
      --main-color: rgb(255, 216, 86);
      --text-color: black;
      --secondary-color: white;
      --other-color: rgb(255, 208, 53);
      --another-color: rgb(100, 100, 100);

      --font-body: 'figtree', sans-serif;
      --font-heading: 'figtree-extrabold' sans-serif;

      --spacing-sm: 0.5rem;
      --spacing-md: 1rem;
      --spacing-lg: 1.5rem;
      --spacing-xl: 2rem;

      --font-sm: clamp(0.75rem, 1.2vw, 0.875rem);
      --font-md: clamp(0.875rem, 1.5vw, 1.05rem);
      --font-lg: clamp(1.1rem, 2vw, 1.2rem);
      --font-xl: clamp(1.4rem, 3vw, 1.82rem);

      --radius: 1rem;
      --shadow: 10px 10px var(--text-color);
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: var(--font-body);
}

@font-face {
      font-family: 'figtree';
      src: url('assets/fonts/Figtree-VariableFont_wght.ttf');
}

@font-face {
      font-family: 'figtree-extrabold';
      src: url('assets/fonts/static/Figtree-ExtraBold.ttf');
}

body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: var(--main-color);
      color: var(--text-color);
}

.container {
      margin: clamp(1rem, 5vw, 4rem) auto 0rem;
      max-width: min(100%, 27rem);
      background: var(--secondary-color);
      border-radius: var(--radius);
      outline: 1px solid var(--text-color);
      box-shadow: var(--shadow);
      padding-block-end: 0.3rem;
}

.header-img {
      width: 100%;
      display: block;
      height: auto;
      border-radius: 2rem;
      padding: var(--spacing-lg);
}

.header-container {
      background: var(--other-color);
      display: block;
      width: 22%;
      color: var(--text-color);
      margin: 0 var(--spacing-lg);
      border-radius: 0.3rem;
}

.header-container p {
      padding: var(--spacing-sm) var(--spacing-md);
      text-align: center;
      font-family: var(--font-body);
      font-size: var(--font-md);
      font-weight: 800;
}

.header-publish {
      margin: var(--spacing-md) var(--spacing-lg);
      font-size: var(--font-sm);
      font-weight: 600;
}

h1 {
      margin: 0 var(--spacing-lg) 1.1rem;
      font-family: var(--font-heading);
      font-size: var(--font-xl);
}

a {
      text-decoration: none;
      color: var(--text-color);
}

a:hover {
      color: var(--other-color);
      cursor: pointer;
      transition: all 3s ease-in;
}

.description {
      padding: 0 var(--spacing-lg);
      line-height: 1.5;
      font-size: var(--font-lg);
      color: var(--another-color);
}

.bottom {
      margin: var(--spacing-lg) var(--spacing-lg) var(--spacing-md);
      display: flex;
      gap: 0.75rem;
      padding: 0;
}

.bottom img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
}


.bottom p {
      font-size: var(--font-md);
      font-family: var(--font-heading);
      font-weight: 800;
      align-items: center;
      display: flex;
}

.wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.container-footer {
      max-width: 28rem;
      margin: 2.5rem auto;
      display: flex;
}

.container-footer p {
      padding: 0 var(--spacing-md);
      font-size: 80%;
}

.container-footer p a {
      text-decoration: none;
      color: var(--text-color);
      font-weight: bold;
}

.container-footer p a:hover {
      text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
      a:hover {
            transition: none;
      }
}

@media (min-width: 0em) and (max-width: 37.4375em) {
      .container {
            margin: var(--spacing-md);
            box-shadow: 5px 5px;
            border-radius: 0.5rem;
      }

      .header-img {
            padding: var(--spacing-sm);
            border-radius: 0.8rem;
      }

      .header-container {
            margin: var(--spacing-sm);
            border-radius: 0.2rem;
            min-width: 3rem;
      }

      .header-container p {
            font-size: 50%;
            padding: 0.3rem;
      }

      .header-publish {
            margin: var(--spacing-sm);
            font-size: 50%;
      }

      h1 {
            margin: var(--spacing-sm);
            font-size: 75%;
      }

      .description {
            margin: 0 var(--spacing-sm);
            font-size: 55%;
            padding: 0rem;
      }

      .bottom {
            margin: 0.7rem var(--spacing-sm);
      }

      .bottom p {
            font-size: var(--spacing-sm);
      }
      
      .container-footer {
            display: block;
            margin: 0;
      }

      .container-footer p {
            padding: 0.2rem;
            font-size: 50%;
      }

      .container-footer p a {
            text-decoration: none;
            color: var(--text-color);
            font-weight: 700;
      }
}